<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <span>Covoiturages</span>
  <button mat-menu-item (click)="router.navigate(['/search/covoit'])">
    Passager
  </button>
  <button mat-menu-item>Organisateur</button>
  <span>Véhicules de services</span>
  <button mat-menu-item>Mes Réservations</button>
  <button mat-menu-item>Gestion des véhicules</button>
  <span>Compte</span>
  <button mat-menu-item>Mon compte</button>
  <button mat-menu-item>Déconnexion</button>
</mat-menu>
