.resa {
    background: black;
}
.onglet {
    margin-left: 39vw;
    display: flex;
    flex-direction: row;
}
.search-bar {
    border: 5px solid #B53D3D;
    border-radius: 20px;
    width: 60vw;
    height: 100px;
    margin: 0px 0px 10px 0px;
    background: none;
}