<section>
  @if (reservation) {
  <div>
    <app-status [status]="reservation.status"> </app-status>
    <app-date-and-city [reservation]="reservation" [type]="'departure'">
    </app-date-and-city>
    <app-user-list [users]="reservation.bookedUsers"></app-user-list>
  </div>
  <div>
    <p>
      Durée du voyage :
      {{ formatHoursAndMinutes(reservation.carPooling?.durationInMinutes) }}
      <br />
      Distance : {{ reservation.carPooling?.distance }}
    </p>
    <mat-icon>arrow_forward</mat-icon>
  </div>
  <div>
    <p>
      <app-button
        [label]="reservation.status === 'BOOKED' ? 'Annuler' : 'Se réinscrire'"
        [color]="'red'"
        (onClick)="handleButton()"
      ></app-button>
    </p>
    <app-date-and-city [reservation]="reservation" [type]="'arrival'">
    </app-date-and-city>
    <app-vehicle-reservation
      [vehicle]="reservation.carPooling?.vehicle"
    ></app-vehicle-reservation>
  </div>
  } @else {
  <p>Chargement...</p>
  }
</section>
