@let nb = 1;
<section [class]="color()">
  <div>
    <!-- TODO: ajouter les places dans le covoiturages-->
    <app-status [status]="carpooling()?.status"></app-status>
    <!-- <p>Places restantes: {{carpooling().}}</p> -->
    <p>
      Date de départ: {{ getFormattedDateTime(carpooling()?.departure)?.date }}
      <br />
      Heure de départ:
      {{ getFormattedDateTime(carpooling()?.departure)?.time }} <br />
      Lieu de départ:
      {{`${carpooling()?.departureSite?.label}, ${carpooling()?.departureSite?.city}`}}
    </p>
  </div>
  <mat-icon>compare_arrows</mat-icon>
  <div>
    @if (nb > 0) {
    <app-button
      [label]="'Réserver'"
      [color]="'red'"
      (onClick)="handleReservation()"
    ></app-button>
    }
    <p>
      Date de arrivée:
      {{ getFormattedDateTime(carpooling()?.departure)?.date }} <br />
      Heure de arrivée:
      {{ getFormattedDateTime(carpooling()?.departure)?.time }}<br />
      Lieu de arrivée:
      {{`${carpooling()?.destinationSite?.label}, ${carpooling()?.destinationSite?.city}`}}
    </p>
  </div>
</section>
