
<section>
  <form #vehicleForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- Input avec validation -->
    <app-input  
      [label]="'*Numéro d\'immatriculation'"
      [type]="'text'"
      [placeholder]="'Ex: AA123BB'"
      [required]="true"
      name="immatriculation"
      [(ngModel)]="vehicle.immatriculation"
      [ngModelOptions]="{updateOn: 'blur'}" 
      #immat="ngModel"
      immatriculationFormat
      [disabled]="false"
    ></app-input>
   @if (immat.invalid) {
      <div class="error-message">
        @if (immat.errors?.['required']) {
          L'immatriculation est requise
        }
        @if (immat.errors?.['immatriculation']) {
          Format attendu : 2 lettres + 3 chiffres + 2 lettres (ex: AA123BB)
        }
      </div>
    }

    <!-- Select Modèle -->
    <app-select
      [items]="modelDtos"
      [displayAttr]="'modelName'"
      [valueAttr]="'id'"
      [label]="'*Modèle'"
      name="modelId"
      [(ngModel)]="vehicle.modelId"
      #model="ngModel"
      [required]="true"
    ></app-select>
    
    <app-select
      [items]="siteCreateDtos"
      [displayAttr]="'name'"
      [valueAttr]="'id'"
      [label]="'*Site'"
      name="siteId"
      [(ngModel)]="vehicle.siteId"
      #site="ngModel"
      [required]="true"
    ></app-select>
    
 
    <div >
      <app-button
        label="Ajouter"
        [color]="vehicleForm.valid ? 'red' : 'gray'"
        (onClick)="onSubmit()"
        [isDisabled]="!vehicleForm.valid"
      ></app-button>
      <app-button 
        [color]="'gray'" 
        [label]="'Annuler'"
        (onClick)="onAbort()"
      ></app-button>
    </div>
  </form>
</section>
@if (showConfirmationPopup()) {
  <app-confirmation-modal
    title="Confirmation de création"
    message="Êtes-vous sûr de vouloir créer ce véhicule ?"
    (onConfirm)="confirmSubmit()"
    (onCancel)="cancelSubmit()"
  ></app-confirmation-modal>
}