
<section>
  <form #vehicleForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- Input avec validation -->
    <app-input  
      [label]="'*Numéro d\'immatriculation'"
      [type]="'text'"
      [placeholder]="'Entrez le numéro'"
      [required]="true"
      name="immatriculation"
      [(ngModel)]="vehicle.immatriculation"
      #immat="ngModel"
      [disabled]="false"
    ></app-input>
    @if (immat.invalid && (immat.dirty || immat.touched)) {
      <div class="error-message">
        L'immatriculation est requise
      </div>
    }

    <!-- Select Modèle -->
    <app-select
      [items]="modelDtos"
      [displayAttr]="'modelName'"
      [valueAttr]="'id'"
      [label]="'*Modèle'"
      name="modelId"
      [(ngModel)]="vehicle.modelId"
      #model="ngModel"
      [required]="true"
    ></app-select>
    
    <app-select
      [items]="siteCreateDtos"
      [displayAttr]="'name'"
      [valueAttr]="'id'"
      [label]="'*Site'"
      name="siteId"
      [(ngModel)]="vehicle.siteId"
      #site="ngModel"
      [required]="true"
    ></app-select>
    
 
    <div >
      <app-button
        label="Ajouter"
        [color]="vehicleForm.valid ? 'red' : 'gray'"
        (onClick)="onSubmit()"
        [isDisabled]="!vehicleForm.valid"
      ></app-button>
      <app-button 
        [color]="'gray'" 
        [label]="'Annuler'"
        (onClick)="onAbort()"
      ></app-button>
    </div>
  </form>
</section>
@if (showConfirmationPopup()) {
  <app-confirmation-modal
    title="Confirmation de création"
    message="Êtes-vous sûr de vouloir créer ce véhicule ?"
    (onConfirm)="confirmSubmit()"
    (onCancel)="cancelSubmit()"
  ></app-confirmation-modal>
}