<section [class]="color()">
  <div>
    <app-status [status]="reservation()?.status"> </app-status>
    <!-- TODO: modifier l'api pour rajouter le nombre de place restantes dans la réservation -->
    <p>
      Places restantes: {{ reservation()?.participantCount }} <br />
      Date de départ :
      {{ getFormattedDateTime(reservation()?.carPooling?.departure)?.date }}
      <br />
      Heure de départ :
      {{ getFormattedDateTime(reservation()?.carPooling?.departure)?.time }}
      <br />
      Lieu de départ :
      {{
      `${reservation()?.carPooling?.departureSite?.label}, ${reservation()?.carPooling?.departureSite?.city}`
      }}
    </p>
  </div>
  <mat-icon>compare_arrows</mat-icon>
  <div>
    <app-button
      (onClick)="handleDetailsClick()"
      [label]="'Voir détails'"
      [color]="'red'"
    ></app-button>
    <p>
      Date de départ :
      {{ arrivalDate?.date }} <br />
      Heure d'arrivée :
      {{ arrivalDate?.time }}
    </p>
  </div>
</section>
