<div class="carpooling-container">
  <div class="field-group">
    <p>*Ville de départ</p>
    <app-input-icon
      class="input-with-icon"
      [type]="'text'"
      [placeholder]="'Ville de départ'"
      [icon]="'place'"
      [(value)]="carpooling.departureSiteId"
      name="siteDeparture"
    ></app-input-icon>
  </div>

  <div class="field-group">
    <p>*Ville de destination</p>
    <app-input-icon
      class="input-with-icon"
      [type]="'text'"
      [icon]="'place'"
      [(value)]="carpooling.destinationSiteId"
      name="siteDestination"
    ></app-input-icon>
  </div>

  <div class="field-group">
    <p>*Date de départ</p>
    <app-input-icon
      class="input-with-icon"
      [type]="'date'"
      [icon]="'departure_board'"
      [(value)]="carpooling.departure"
      name="startDate"
    ></app-input-icon>
  </div>

  <!-- <div class="field-group">
    <p>*Heure de départ</p>
    <app-input-icon
      class="input-with-icon"
      [type]="'time'"
      [icon]="'schedule'"
      [(value)]="carpooling.departure"
      name="startTime"
    ></app-input-icon>
  </div> -->

  <!-- <div class="field-group">
    <p>*Nombre de places</p>
    <app-input-icon
      class="input-with-icon"
      [icon]="'event_seat'"
      [type]="'number'"
     [(value)]=""
      name="capacity"
    ></app-input-icon>
  </div> -->

  <div class="field-group">
    <p>*Véhicule</p>
    <app-select
      [items]="personalVehicles"
      [displayAttr]="'label'"
      [valueAttr]="'id'"
      [name]="'vehicleId'"
      [(value)]="carpooling.vehicleId"
      [required]="true"
    >
      <option value="0">Sélectionnez un véhicule</option>
      <!-- @for (vehicle of vehicles; track vehicle.id) {
      <option [value]="vehicle.id">{{ vehicle.label }}</option>
      } -->
    </app-select>
  </div>

  <!-- Boutons -->
  <div class="buttons">
    <app-button
      class="btn btn-create red"
      [color]="'red'"
      [label]="'Créer'"
      (click)="onSubmit()"
    ></app-button>
    <app-button
      class="btn btn-cancel gray"
      [color]="'gray'"
      [label]="'Annuler'"
      (click)="onCancel()"
    ></app-button>
  </div>
</div>
