<div class="carpooling-container">
  <form #carpoolingForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="field-group">
      <app-select
        class="select-vehicle"
        [items]="siteCreateDtos"
        [displayAttr]="'name'"
        [valueAttr]="'id'"
        [label]="'*Site de départ'"
        name="departureSiteId"
        [(ngModel)]="carpooling.departureSiteId"
        #site="ngModel"
        [required]="true"
      ></app-select>
    </div>

    <div class="field-group">
      <app-select
        class="select-vehicle"
        [items]="siteCreateDtos"
        [displayAttr]="'name'"
        [valueAttr]="'id'"
        [label]="'*Site de destination'"
        name="destinationSiteId"
        [(ngModel)]="carpooling.destinationSiteId"
        #site="ngModel"
        [required]="true"
      ></app-select>
    </div>

    <input
      type="datetime-local"
      [(ngModel)]="carpooling.departure"
      name="departure"
    />
    <!-- <div class="field-group">
      <app-input-icon
        class="input-with-icon"
        [type]="'datetime-local'"
        [placeholder]="'Date de départ'"
        [icon]="'date_range'"
        name="departure"
        [(ngModel)]="carpooling.departure"
        #departureDate="ngModel"
        [required]="true"
      ></app-input-icon>
    </div> -->

    <!-- <div class="field-group">
      <label for="departureTime">Heure</label>
      <input
        type="time"
        id="departureTime"
        name="departureTime"
        [(ngModel)]="departureTime"
        (change)="updateDepartureTime()"
      />
    </div> -->

    <div class="field-group">
      <app-select
        class="select-vehicle"
        [items]="availableVehicles"
        [displayAttr]="'label'"
        [label]="'*Véhicule'"
        [valueAttr]="'id'"
        name="vehicleId"
        [(ngModel)]="carpooling.vehicleId"
        #vehicle="ngModel"
        [required]="true"
      ></app-select>
    </div>
    <div class="buttons">
      <app-button
        class="btn btn-create red"
        [color]="'red'"
        [label]="'Créer'"
        (click)="confirmSubmit()"
      ></app-button>
      <app-button
        class="btn btn-cancel gray"
        [color]="'gray'"
        [label]="'Annuler'"
        (click)="cancelSubmit()"
      ></app-button>
    </div>
  </form>
</div>
