<div class="carpooling-container">
  <form>
    <div class="field-group">
      <app-select
        class="select-vehicle"
        [items]="siteCreateDtos"
        [displayAttr]="'name'"
        [valueAttr]="'id'"
        [label]="'*Site de départ'"
        name="siteId"
        [(ngModel)]="carpooling.departureSiteId"
        #site="ngModel"
        [required]="true"
      ></app-select>
    </div>

    <div class="field-group">
      <app-select
        class="select-vehicle"
        [items]="siteCreateDtos"
        [displayAttr]="'name'"
        [valueAttr]="'id'"
        [label]="'*Site de destination'"
        name="siteId"
        [(ngModel)]="carpooling.destinationSiteId"
        #site="ngModel"
        [required]="true"
      ></app-select>
    </div>

    <div class="field-group">
      <app-input-icon
        class="input-with-icon"
        [type]="'date'"
        [placeholder]="'Date de départ'"
        [icon]="'date_range'"
        name="departure"
        [(ngModel)]="carpooling.departure"
        #departureDate="ngModel"
        [required]="true"
      ></app-input-icon>
    </div>

    <div class="field-group">
      <app-select
        class="select-vehicle"
        [items]="personalVehicles"
        [displayAttr]="'description'"
        [label]="'*Véhicule'"
        [valueAttr]="'id'"
        name="vehicleId"
        [(ngModel)]="carpooling.vehicleId"
        #vehicle="ngModel"
        [required]="true"
      ></app-select>
    </div>

    <div class="buttons">
      <app-button
        class="btn btn-create red"
        [color]="'red'"
        [label]="'Créer'"
        (click)="onSubmit()"
      ></app-button>
      <app-button
        class="btn btn-cancel gray"
        [color]="'gray'"
        [label]="'Annuler'"
        (click)="onCancel()"
      ></app-button>
    </div>
  </form>
</div>
